label img {
	position: relative;
	width: 20em;
	height: 20em;
	margin: 0;
	padding: 0;
	border-radius: 1000%;
}

label {
	display: flex;
}

.imgHelper {
	right: 20em;
	z-index: 2;
}

.avaPhoto:hover {
	cursor: pointer;
	z-index: -6;
	-webkit-transition: .4s ease-out;
     -webkit-transition-delay: 0.5s;
     -o-transition: .4s ease-out;
     -o-transition-delay: 0.5s;
     -moz-transition: .4s ease-out;
     -moz-transition-delay: 0.5s;
     transition: .4s ease-out;
     transition-delay: 0.5s;
}

.avaPhotoOtherUser {
	z-index: 3;
}

.avaPhoto {
	z-index: 3;
}

input[type=file] {
	display: none;
}